/*обнуление настроек*/
/* @charset utf-8; */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  outline: 0 none;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
menu,
section,
summary {
  display: block;
}

/*Определяем рамку*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*Для всех ссылок и кнопок прописываем в клас - легкую анимацию
200мсек что бы все прогисходило плавно*/
a,
a:hover,
button,
button:hover,
.anime {
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
}

/*Flex Framework от автора*/
.main_flex {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.main_flex__nowrap {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.main_flex_dir_row {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.flex__auto {
  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
}

.flex__jcontent_between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex__jcontent_start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.flex__jcontent_end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.flex__jcontent_center {
  justify-content: center;
  -webkit-justify-content: center;
}

.flex__jcontent_around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.flex__align-items_start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.flex__align-items_end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex__align-items_baseline {
  align-items: baseline;
  -webkit-align-items: baseline;
}

.flex__align-items_stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}

.flex__align-items_center {
  align-items: center;
  -webkit-align-items: center;
}

.flex__align-content_flex-start {
  align-content: flex-start;
  -webkit-align-content: flex-start;
}

.flex__align-content_flex-end {
  align-content: flex-end;
  -webkit-align-content: flex-end;
}

.flex__align-content_space-between {
  align-content: space-between;
  -webkit-align-content: space-between;
}

.flex__align-content_center {
  align-content: center;
  -webkit-align-content: center;
}

.flex__align-content_space-around {
  align-content: space-around;
  -webkit-align-content: space-around;
}

.flex__align-content_stretch {
  align-content: stretch;
  -webkit-align-content: stretch;
}

.flex__flex-grow_01 {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.flex__flex-grow_02 {
  flex-grow: 2;
  -webkit-flex-grow: 2;
}

.flex__flex-grow_03 {
  flex-grow: 3;
  -webkit-flex-grow: 3;
}

.flex__flex-grow_04 {
  flex-grow: 4;
  -webkit-flex-grow: 4;
}

/*Начало*/

body {
  background-color: rgb(250, 250, 250);
  font-family: Gayathri, sans-serif;
  font-size: 1.2vmax;
  /*размер шрифта в процентах от размера экрана*/
  line-height: 1.9vmax;
  color: #2c2c2c;
}

.wrap {
  width: 78vw;
  margin: 0 auto;
  position: relative;
}

/*Далее переходим к верстке*/

#header {
  width: 100%;
  height: 100vh;
  font-family: Walter, sans-serif;
  /*высота относительно высоты экрана*/
  position: relative;
  /*относительное позиционирование*/
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/cov1.png);
  padding-top: 7vh;
  padding-bottom: 3vh;
}

#header-about {
  margin-left: 1vw;

  height: 10vh;

  /* border: lawngreen solid 2px; */
  overflow: visible;
  /*чтоб ничего не выпрыгивало*/
}

#logo {
  margin-top: 5px;

  /*  width: 10vh; */
  /*   height: auto 10vh; */
}

.logo-text {
  margin-left: 1vw;
  font-size: 3vw;

  /* Прозрачный текст с обводкой */
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
  -webkit-text-stroke: 1px rgb(190, 190, 190);
}

.header-logo {
  margin-left: 1vw;
  margin-top: 30vh;
  height: 80vh;
  font-size: 8vw;

  /* Прозрачный текст с обводкой */
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
  -webkit-text-stroke: 1px rgb(236, 106, 106);
  opacity: 0.7;
  /*прозрачность*/
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  /* font-size: 2vw; */
}

#main-bar a {
  color: rgb(190, 190, 190);
}

#main-bar a:hover {
  color: rgb(223, 113, 113);
}

#overview {
  width: 100%;
  padding-top: 8vh;
  padding-bottom: 22vh;
  background-color: #c7c5c5;
}

.text_overview {
  width: 44vw;
  padding-right: 1.5vw;
}

.text_overview p {
  margin: 2vh 0;
}

.textcolor {
  color: rgb(223, 113, 113);
}

.textcolor2 {
  color: rgb(89, 100, 148);
}

.title_overview {
  margin-top: 10vh;
  font-size: 4.8vw;
  line-height: 4.7vw;
}

.title {
  margin: 5vh auto;
  z-index: 5;

  /*блок будет по ширине контента*/
  width: fit-content;
}

#white-title {
  color: rgb(172, 172, 172);
}

.title h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3vw;
  /*делаем шрифт тоньше*/
  font-weight: 500;
  /*делаем отступ между букв*/
  letter-spacing: 0.1vw;
  color: rgb(90, 90, 90);
  line-height: 2.84vw;
  /* margin-bottom: 0.22vh; */
}

.line {
  background-color: rgb(223, 113, 113);
  height: 0.2vh;
  width: 100%;
}

#prevention {
  width: 100%;
  padding: 8vh 0 22vh 0;

  background-color: rgb(89, 100, 148);
}

.box_block {
  margin-top: 10vh;
}

.box_block {
  height: 100%;

}

/* Адаптация элементов в Slick */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.box_block_prevention {
  /*  height: 23vh; */
  overflow: hidden;
  margin: 3vh;
  border-radius: 1vw;
}

.box_block_prevention img {
  width: auto;
  height: 40vh;
}

.box-shadow {
  box-shadow: 10px 8px 9px rgba(41, 53, 80, 0.616);
}

/* .box_block_prevention:nth-child(1) {
  width: 40vw;
} */

.ptext1 {
  display: flex;
  align-items: center;
  line-height: 1.3;
  text-align: justify;
  padding: 1.5vw;
  font-size: 2vw;
  background-color: rgb(149, 184, 85);
  color: rgb(202, 202, 202);
}

.ptext2 {
  display: flex;
  align-items: center;
  line-height: 1.3;
  text-align: justify;
  padding: 1.5vw;
  font-size: 2vw;
  background-color: rgb(140, 95, 167);
  color: rgb(202, 202, 202);
}

.ptext3 {
  height: 135px;
  /* display: flex; */
  align-items: center;
  line-height: 1.3;
  text-align: justify;
  padding: 1.5vw;
  font-size: 2vw;
  background-color: rgb(187, 108, 98);
  color: rgb(202, 202, 202);
}

.ptext4 {
  display: flex;
  align-items: center;
  line-height: 1.3;
  text-align: justify;
  padding: 1.5vw;
  font-size: 2vw;
  background-color: rgb(85, 155, 103);
  color: rgb(202, 202, 202);
}

.ptext5 {
  display: flex;
  align-items: center;
  line-height: 1.3;
  text-align: justify;
  padding: 1.5vw;
  font-size: 2vw;
  background-color: rgb(166, 172, 83);
  color: rgb(202, 202, 202);
}

.ptext6 {
  display: flex;
  align-items: center;
  line-height: 1.3;
  text-align: justify;
  padding: 1.5vw;
  font-size: 2vw;
  background-color: rgb(192, 115, 64);
  color: rgb(202, 202, 202);
}

#symptoms {
  padding: 8vh 0 22vh 0;
  background-color: rgb(81, 172, 73);
}

.symptoms-text1 {
  width: 60vw;
  padding-right: 3vw;
}

.symptoms-text1 strong {
  color: rgb(89, 100, 148);
}

.symptoms-text2 {
  width: 40vw;
  padding-right: 3vw;
}

.symptoms-text2 strong {
  color: rgb(89, 100, 148);
}

.img-smt {
  height: 20vh;
  overflow: hidden;
  margin: 5vh;
}

.img-smt img {
  width: auto;
  height: 35vh;
}

#map {
  padding: 8vh 0 22vh 0;
  background-color: #494950;
}

.map-box {
  margin: 3vw;
}

.map-header {
  font-size: 1.7vw;
  margin-top: 4.5vh;

  color: rgb(163, 163, 163);
}

.jhu {
  font-size: 1.7vw;
  margin-top: 2vh;
  color: rgb(223, 113, 113);
}

#about {
  padding: 8vh 0 22vh 0;
  background-color: rgb(74, 148, 209);
}

.about-info {
  width: 75vw;
  font-size: 1.7vw;
}

.about-info h2 {
  font-size: 2.52vw;
  line-height: 2.84vw;
  margin-top: 4.5vh;
  margin-bottom: 5.5vh;
  font-weight: 400;
  color: rgb(223, 113, 113);
}

.about-info span {
  line-height: 4.84vw;
  margin-bottom: 2.5vh;
  font-weight: 700;
}

.about-form {
  padding-bottom: 8vh;
}

.btn {
  border: none;
  border-radius: 0.5vw;
  font-size: 1.7vw;
  padding: 0.5vw 3.5vw;
  color: rgb(172, 172, 172);
  background-color: rgb(223, 113, 113);
}

.about-form input {
  background-color: rgb(221, 221, 221);
  border: none;
  /*  text-align: start; */
  padding: 1vw;
  width: 100%;
  height: 6.79vh;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin-bottom: 1.2vh;
}

.about-form textarea {
  background-color: rgb(221, 221, 221);
  border: none;
  /*  text-align: start; */
  padding: 1vw;
  width: 100%;
  height: 26vh;
  border-radius: 0.5vw;
  font-size: 1vw;
}

.fixed {
  position: fixed;
  top: 2.5vh;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 10vh;
  z-index: 5;
  transition: 0.25s ease-in-out;
}

.fixed:hover {
  opacity: 1;
}

#main-bar.fixed a {
  color: rgb(44, 44, 44);
  font-weight: 600;
}

@media only screen and (min-device-width:320px) and (max-device-width: 480px) {
  #logo {
    display: none;
  }

  .main-bar-li {
    font-size: 1.5vh;
  }

  .title h2 {
    font-size: 3vh;
  }

  #header {
    padding-top: 2vh;
  }

  .logo-text {
    font-size: 2.5vh;
    justify-content: center;
  }

  .header-logo {
    margin-left: 10vw;
    margin-top: 75vh;
    font-size: 5.5vh;
    height: 10vh;
  }

  .map-box {
    margin: 0;
    width: 100vw;
    overflow: hidden;
  }

  #overview {
    height: 100vh;
  }

  #overview-box {
    flex-flow: column wrap;
    align-items: center;
  }

  .overview-title {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .title_overview {
    margin-top: 2vh;
    margin-bottom: 3vh;
    justify-content: center;
  }

  .textcolor {
    text-align: center;
  }

  .textcolor2 {
    text-align: center;
  }

  .text_overview {
    width: 70vw;

    text-align: justify;
    font-size: 1.9vh;
    line-height: 2.2vh;
  }

  #prevention {
    height: 100vh;
  }

  .box_block_prevention {
    font-size: 2.5vh;
    align-items: center;
  }

  #symptoms {
    height: 100vh;
  }

  .symptoms-title {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .text-box-smt {
    flex-flow: column wrap;

  }

  .symptoms-text1 {
    width: 100%;
    text-align: justify;
    font-size: 2vh;

  }

  .symptoms-text2 {
    width: 100%;
    text-align: justify;
    font-size: 2vh;
  }

  .symptoms-text2 li {
    margin-left: 3vw;
  }

  #map {
    height: 100vh;
  }

  .map-title {
    margin-top: 2vh;
    margin-bottom: 5vh;
  }

  .map-header {
    font-size: 2.5vh;
    line-height: 2.5vh;
    text-align: center;
  }

  .jhu {
    font-size: 2.5vh;
    margin-bottom: 7vh;
  }

  #about {
    height: 100vh;
  }

  /* .about-title {
    display: none;
  } */

  .form-box {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .about-info {
    margin-left: 0;
    margin-bottom: 5vh;
    text-align: justify;
    font-size: 2.5vh;
    line-height: 3vh;
    text-align: center;
  }

  .about-info span {
    padding-top: 3vh;
  }

  .about-info h2 {
    display: none;
  }

  .about-form input {
    font-size: 2vh;
  }

  .about-form textarea {
    font-size: 2vh;
  }

  .about-form button {
    font-size: 2vh;
  }



}

@media only screen and (max-width: 320px) {
  #logo {
    display: none;
  }

  .main-bar-li {
    font-size: 1.5vh;
  }

  .title h2 {
    font-size: 3vh;
  }

  #header {
    padding-top: 2vh;
  }

  .logo-text {
    font-size: 2.5vh;
    justify-content: center;
  }

  .header-logo {
    margin-left: 10vw;
    margin-top: 75vh;
    font-size: 5.5vh;
    height: 10vh;
  }

  .map-box {
    margin: 0;
    width: 100vw;
    overflow: hidden;
  }

  #overview {
    height: 100vh;
  }

  #overview-box {
    flex-flow: column wrap;
    align-items: center;
  }

  .overview-title {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .title_overview {
    margin-top: 2vh;
    margin-bottom: 3vh;
    justify-content: center;
  }

  .textcolor {
    text-align: center;
  }

  .textcolor2 {
    text-align: center;
  }

  .text_overview {
    width: 70vw;

    text-align: justify;
    font-size: 1.9vh;
    line-height: 2.2vh;
  }

  #prevention {
    height: 100vh;
  }

  .box_block_prevention {
    font-size: 2.5vh;
    align-items: center;
  }

  #symptoms {
    height: 100vh;
  }

  .symptoms-title {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .text-box-smt {
    flex-flow: column wrap;

  }

  .symptoms-text1 {
    width: 100%;
    text-align: justify;
    font-size: 2vh;

  }

  .symptoms-text2 {
    width: 100%;
    text-align: justify;
    font-size: 2vh;
  }

  .symptoms-text2 li {
    margin-left: 3vw;
  }

  #map {
    height: 100vh;
  }

  .map-title {
    margin-top: 2vh;
    margin-bottom: 5vh;
  }

  .map-header {
    font-size: 2.5vh;
    line-height: 2.5vh;
    text-align: center;
  }

  .jhu {
    font-size: 2.5vh;
    margin-bottom: 7vh;
  }

  #about {
    height: 100vh;
  }

  /* .about-title {
    display: none;
  } */

  .form-box {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .about-info {
    margin-left: 0;
    margin-bottom: 5vh;
    text-align: justify;
    font-size: 2.5vh;
    line-height: 3vh;
    text-align: center;
  }

  .about-info span {
    padding-top: 3vh;
  }

  .about-info h2 {
    display: none;
  }

  .about-form input {
    font-size: 2vh;
  }

  .about-form textarea {
    font-size: 2vh;
  }

  .about-form button {
    font-size: 2vh;
  }



}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #logo {
    display: none;
  }

  .main-bar-li {
    font-size: 1.5vh;
  }

  .title h2 {
    font-size: 3vh;
  }

  #header {
    padding-top: 2vh;
  }

  .logo-text {
    font-size: 2.5vh;
    justify-content: center;
  }

  .header-logo {
    margin-left: 10vw;
    margin-top: 75vh;
    font-size: 5.5vh;
    height: 10vh;
  }

  .map-box {
    margin: 0;
    width: 100vw;
    overflow: hidden;
  }

  #overview {
    height: 100vh;
  }

  #overview-box {
    flex-flow: column wrap;
    align-items: center;
  }

  .overview-title {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .title_overview {
    margin-top: 2vh;
    margin-bottom: 3vh;
    justify-content: center;
  }

  .textcolor {
    text-align: center;
  }

  .textcolor2 {
    text-align: center;
  }

  .text_overview {
    width: 70vw;

    text-align: justify;
    font-size: 1.9vh;
    line-height: 2.2vh;
  }

  #prevention {
    height: 100vh;
  }

  .box_block_prevention {
    font-size: 2.5vh;
    align-items: center;
  }

  #symptoms {
    height: 100vh;
  }

  .symptoms-title {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .text-box-smt {
    flex-flow: column wrap;

  }

  .symptoms-text1 {
    width: 100%;
    text-align: justify;
    font-size: 2vh;

  }

  .symptoms-text2 {
    width: 100%;
    text-align: justify;
    font-size: 2vh;
  }

  .symptoms-text2 li {
    margin-left: 3vw;
  }

  #map {
    height: 100vh;
  }

  .map-title {
    margin-top: 2vh;
    margin-bottom: 5vh;
  }

  .map-header {
    font-size: 2.5vh;
    line-height: 2.5vh;
    text-align: center;
  }

  .jhu {
    font-size: 2.5vh;
    margin-bottom: 7vh;
  }

  #about {
    height: 100vh;
  }

  /* .about-title {
    display: none;
  } */

  .form-box {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .about-info {
    margin-left: 0;
    margin-bottom: 5vh;
    text-align: justify;
    font-size: 2.5vh;
    line-height: 3vh;
    text-align: center;
  }

  .about-info span {
    padding-top: 3vh;
  }

  .about-info h2 {
    display: none;
  }

  .about-form input {
    font-size: 2vh;
  }

  .about-form textarea {
    font-size: 2vh;
  }

  .about-form button {
    font-size: 2vh;
  }



}